[project]
	description = OneOps main codebase
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhishek Srivastav (srivastav-abhishek)
[access "refs/for/refs/*"]
	read = group user/Abhishek Srivastav (srivastav-abhishek)
	push = group user/Abhishek Srivastav (srivastav-abhishek)
	label-Code-Review = -2..+2 group user/Abhishek Srivastav (srivastav-abhishek)
	label-Verified = -1..+1 group user/Abhishek Srivastav (srivastav-abhishek)
	rebase = group user/Abhishek Srivastav (srivastav-abhishek)
	removeReviewer = group user/Abhishek Srivastav (srivastav-abhishek)
	submit = group user/Abhishek Srivastav (srivastav-abhishek)
[access "refs/heads/*"]
	read = group user/Abhishek Srivastav (srivastav-abhishek)
	create = group user/Abhishek Srivastav (srivastav-abhishek)
	push = +force group user/Abhishek Srivastav (srivastav-abhishek)
	pushMerge = group user/Abhishek Srivastav (srivastav-abhishek)
[access "refs/tags/*"]
	push = group user/Abhishek Srivastav (srivastav-abhishek)
	push = +force group user/Abhishek Srivastav (srivastav-abhishek)
